@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);

    --borderColor : rgb(98, 0, 234);

    --g4: rgb(51, 104, 148);
    --g5: rgb(44, 62, 80);
    --g6: rgb(52, 73, 94);

    --g8: #DB7093;
    --g9: #00FFFF;
    --g7: #4682B4;
  }

    .bg-g1 {
        background-color: var(--g1);
    }
    .bg-g2 {
        background-color: var(--g2);
    }
    .bg-g3 {
        background-color: var(--g3);
    }
    .bg-g4 {
        background-color: var(--g4);
    }
    .bg-g5 {
        background-color: var(--g5);
    }
    .bg-g6 {
        background-color: var(--g6);
    }
    .bg-g7 {
        background-color: var(--g7);
    }
    .bg-g8 {
        background-color: var(--g8);
    }
    .bg-g9 {
        background-color: var(--g9);
    }

/* tailwind tag */
.nodrag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
    }

.buttonGradiant {
    background: linear-gradient(
        130deg,
        transparent 0% 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
    );

    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;

    }


.Gradiant {
    background: linear-gradient(
        130deg,
        rgb(31 41 55) 0%,
        var(--g4) 66%,
        var(--g5) 83.5%,
        var(--g6) 100%
    );
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
